.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 75px;
  padding: 5px 10px;
  border-top: 1px solid var(--blackColor);
  background-color: var(--whiteColor);
  justify-content: center;
  align-items: center;

  p {
    font-weight: 700;
  }
}

.termsConditions {
  text-decoration: underline;
  font-weight: 700;
  &:hover, &:focus, &:active {
    text-decoration: underline;
    color: var(--primaryColor-100);
  }
}

.bbbLink {
  margin: 10px 0;
  padding: 4px 4px 0%;
  background: var(--blackColor);
  border-radius: 8px;
  border: 2px solid var(--blackColor);
  transition: all 0.15s ease;
  &:hover, &:focus, &:active {
    border-color: var(--primaryColor-100);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75); 
  }
}