/* Helper Class */
html, body, ul, ol {
  margin: 0;
  padding: 0; }

.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

*, *:after, *:before {
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

.center {
  text-align: center; }

.hidden {
  display: none; }

.open-subMenu {
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
      transform: translateY(100%);
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out; }

/* Module Class */
.nav-container {
  width: 100%; }

nav {
  position: fixed;
  z-index: 9999;
  top: 0px;
  background-color: #fff;
  font-size: 16pt;
  width: 100%; }
  nav .nav-bar {
    width: 100%;
    z-index: 9999;
    position: fixed;
    background-color: #fff;
    height: 90px;
    font-family: "Lato", sans-serif;
    font-weight: 500;
    font-size: 0.9em;
    margin-bottom: 0px; }
  nav .login-menu {
    position: fixed;
    z-index: 10000;
    right: 0%;
    display: inline-block;
    font-size: 0.6em;
    text-align: center;
    width: 320px; }
    nav .login-menu .account-btn, nav .login-menu .financial-btn {
      z-index: 10000;
      width: 160px;
      float: left;
      background-color: #000;
      color: #fff;
      padding: 10px;
      border: 1px solid #fff;
      border-radius: 5%; }
      nav .login-menu .account-btn:hover, nav .login-menu .financial-btn:hover {
        cursor: pointer;
        border: 1px solid #000;
        text-decoration: none; }
  nav .company-logo {
    float: left;
    position: fixed;
    z-index: 10000;
    margin: 2px 15px 0px 5%;
    padding: 5px;
    border: 2px solid #000;
    width: 85px; }
    nav .company-logo:hover {
      cursor: pointer; }
  nav .nav-menu {
    width: 100%;
    z-index: 9999;
    padding: 0px;
    position: fixed;
    left: 50%;
    margin-left: -50%;
    line-height: 80px;
    text-align: center;
    height: 80px;
    margin-bottom: 0px;
    padding-top: 10px; }
    nav .nav-menu ul {
      list-style: none;
      line-height: 125px;
      padding: 0px; }
    nav .nav-menu li {
      list-style: none;
      display: inline-block;
      padding: 0px 0.94em;
      font-size: 1em; }
    nav .nav-menu a {
      text-decoration: none;
      cursor: pointer;
      color: #000;
      font-size: 1em; }
      nav .nav-menu a:hover {
        border-bottom: 0.32em solid #41c900;
        color: #000; }

.bot-nav-bar {
  position: fixed;
  bottom: 0%;
  z-index: 10000;
  background-color: #fff;
  opacity: 0.9;
  width: 100%;
  font-size: 16pt;
  height: 35px;
  text-align: center; }

.bot-nav-link {
  font-size: 0.66em;
  font-weight: 900;
  line-height: 35px; }
  .bot-nav-link:hover .site-wrapper, .bot-nav-link:hover .read-wrapper {
    margin-top: -600px;
    -webkit-transition: 0.4s ease-out;
    transition: 0.4s ease-out; }
  .bot-nav-link:hover .read-wrapper {
    margin-top: -725px; }
  .bot-nav-link a {
    text-decoration: none;
    cursor: pointer;
    color: #000;
    opacity: 1; }
    .bot-nav-link a:hover {
      color: #000;
      border-bottom: 5px solid #41c900;
      font-weight: 900;
      text-decoration: none; }

.site-wrapper {
  height: 600px; }
  .site-wrapper li {
    list-style: none;
    padding: 1em 0.25em; }

.site-wrapper, .read-wrapper {
  width: 100%;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 5px;
  -webkit-transform: translateY(0em);
  -ms-transform: translateY(0em);
      transform: translateY(0em);
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out; }
  .site-wrapper h4, .read-wrapper h4 {
    color: #000;
    font-weight: 900;
    font-size: 1.25em;
    padding-top: 15px; }
    .site-wrapper h4 span, .read-wrapper h4 span {
      border-bottom: 2px solid #41c900; }
  .site-wrapper img, .read-wrapper img {
    width: 70%;
    text-decoration: none; }
  .site-wrapper a, .read-wrapper a {
    text-decoration: none;
    cursor: pointer; }
  .site-wrapper p, .read-wrapper p {
    font-size: 0.8em;
    font-weight: 700;
    padding: 0em;
    margin: 0em; }

.read-wrapper {
  height: 725px;
  color: #000; }
  .read-wrapper img {
    width: 40px; }
  .read-wrapper li {
    list-style: none;
    margin: 0.25em 0em; }
  .read-wrapper h6 {
    font-weight: 500;
    text-decoration: underline; }
  .read-wrapper p {
    font-weight: 300; }

.hero-section {
  height: 700px;
  width: 100%;
  font-size: 16pt;
  background: url(../images/JBAHeader.jpg) no-repeat center center;
  background-size: cover; }
  .hero-section h1 {
    color: #000;
    padding-top: 150px;
    font-weight: 300;
    text-align: center;
    font-size: 2em; }
    .hero-section h1 span {
      color: #eb5f00;
      font-weight: 500;
      font-size: 1.25em; }
  .hero-section .slide-container {
    position: relative;
    opacity: 0.75;
    background-color: #000;
    width: 100%;
    height: 300px;
    font-size: 16pt;
    text-align: center; }
  .hero-section .slide-content {
    width: 75%;
    margin: 0px auto;
    padding-top: 50px;
    font-weight: 900;
    font-size: 1.25em; }
    .hero-section .slide-content p {
      text-align: center;
      font-color: #fff; }
  .hero-section .owl-prev, .hero-section .owl-next {
    display: none; }
  .hero-section .owl-pagination {
    position: absolute;
    left: 50%;
    margin-left: -58px;
    bottom: 20px;
    font-size: 16px; }
  .hero-section .owl-page {
    display: inline-block;
    width: 1em;
    height: 1em;
    margin: 5px 7px;
    border-radius: 20px;
    background: #fff; }
  .hero-section .active {
    background: #41c900; }

.main-container {
  width: 100%; }

.services, .about, .whyChooseUs, .contact {
  background-color: #303030;
  font-size: 16pt; }
  .services h1, .about h1, .whyChooseUs h1, .contact h1 {
    text-align: center;
    font-size: 2.75em;
    color: #fff;
    margin-top: 1.25em;
    font-weight: 300;
    margin-bottom: 0.75em; }
  .services .services-title, .about .services-title, .whyChooseUs .services-title, .contact .services-title {
    text-align: center;
    font-weight: 300;
    margin-top: 2em;
    font-size: 2em; }
    .services .services-title span, .about .services-title span, .whyChooseUs .services-title span, .contact .services-title span {
      color: #eb5f00;
      font-weight: 500;
      text-decoration: underline; }
  .services .glyphicon-calendar, .services .glyphicon-road, .services .glyphicon-usd, .about .glyphicon-calendar, .about .glyphicon-road, .about .glyphicon-usd, .whyChooseUs .glyphicon-calendar, .whyChooseUs .glyphicon-road, .whyChooseUs .glyphicon-usd, .contact .glyphicon-calendar, .contact .glyphicon-road, .contact .glyphicon-usd {
    font-size: 25pt;
    color: #41c900; }
  .services .gly-title, .about .gly-title, .whyChooseUs .gly-title, .contact .gly-title {
    margin: 1em;
    font-size: 1.15em;
    font-weight: 300; }
  .services .individual, .about .individual, .whyChooseUs .individual, .contact .individual {
    font-size: 16pt;
    padding-bottom: 5em; }
  .services .ind-quote, .services .bus-quote, .services .why-quote, .services .platorm-quote, .about .ind-quote, .about .bus-quote, .about .why-quote, .about .platorm-quote, .whyChooseUs .ind-quote, .whyChooseUs .bus-quote, .whyChooseUs .why-quote, .whyChooseUs .platorm-quote, .contact .ind-quote, .contact .bus-quote, .contact .why-quote, .contact .platorm-quote {
    font-weight: 300;
    font-size: 1em;
    margin-top: 2em;
    margin-bottom: 0em;
    font-style: italic;
    color: #fff; }
    .services .ind-quote span, .services .bus-quote span, .services .why-quote span, .services .platorm-quote span, .about .ind-quote span, .about .bus-quote span, .about .why-quote span, .about .platorm-quote span, .whyChooseUs .ind-quote span, .whyChooseUs .bus-quote span, .whyChooseUs .why-quote span, .whyChooseUs .platorm-quote span, .contact .ind-quote span, .contact .bus-quote span, .contact .why-quote span, .contact .platorm-quote span {
      color: #41c900;
      font-weight: 500; }
  .services .ind-title, .services .bus-title, .services .why-title, .about .ind-title, .about .bus-title, .about .why-title, .whyChooseUs .ind-title, .whyChooseUs .bus-title, .whyChooseUs .why-title, .contact .ind-title, .contact .bus-title, .contact .why-title {
    font-size: 1.15em;
    font-weight: 500;
    text-alight: center;
    position: relative;
    margin: 0px; }
    .services .ind-title:hover, .services .bus-title:hover, .services .why-title:hover, .about .ind-title:hover, .about .bus-title:hover, .about .why-title:hover, .whyChooseUs .ind-title:hover, .whyChooseUs .bus-title:hover, .whyChooseUs .why-title:hover, .contact .ind-title:hover, .contact .bus-title:hover, .contact .why-title:hover {
      cursor: pointer;
      font-weight: 700; }
      .services .ind-title:hover .plus, .services .ind-title:hover .plus-why, .services .bus-title:hover .plus, .services .bus-title:hover .plus-why, .services .why-title:hover .plus, .services .why-title:hover .plus-why, .about .ind-title:hover .plus, .about .ind-title:hover .plus-why, .about .bus-title:hover .plus, .about .bus-title:hover .plus-why, .about .why-title:hover .plus, .about .why-title:hover .plus-why, .whyChooseUs .ind-title:hover .plus, .whyChooseUs .ind-title:hover .plus-why, .whyChooseUs .bus-title:hover .plus, .whyChooseUs .bus-title:hover .plus-why, .whyChooseUs .why-title:hover .plus, .whyChooseUs .why-title:hover .plus-why, .contact .ind-title:hover .plus, .contact .ind-title:hover .plus-why, .contact .bus-title:hover .plus, .contact .bus-title:hover .plus-why, .contact .why-title:hover .plus, .contact .why-title:hover .plus-why {
        display: block; }
    .services .ind-title span:hover, .services .bus-title span:hover, .services .why-title span:hover, .about .ind-title span:hover, .about .bus-title span:hover, .about .why-title span:hover, .whyChooseUs .ind-title span:hover, .whyChooseUs .bus-title span:hover, .whyChooseUs .why-title span:hover, .contact .ind-title span:hover, .contact .bus-title span:hover, .contact .why-title span:hover {
      border-bottom: 1px solid #00922b; }
  .services .why-title:hover, .about .why-title:hover, .whyChooseUs .why-title:hover, .contact .why-title:hover {
    cursor: pointer;
    font-weight: 500; }
  .services .plus, .services .plus-why, .about .plus, .about .plus-why, .whyChooseUs .plus, .whyChooseUs .plus-why, .contact .plus, .contact .plus-why {
    display: none;
    position: absolute;
    color: #41c900;
    left: 50%;
    -webkit-transition: 0.3s ease-out; }
  .services .plus-why, .about .plus-why, .whyChooseUs .plus-why, .contact .plus-why {
    color: #005d27;
    margin-left: -8px; }
  .services .rotate-open, .about .rotate-open, .whyChooseUs .rotate-open, .contact .rotate-open {
    -webkit-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
            transform: rotate(135deg);
    position: absolute;
    -webkit-transition: 0.3s ease-out; }
  .services .rotate-closed, .about .rotate-closed, .whyChooseUs .rotate-closed, .contact .rotate-closed {
    -webkit-transform: rotate(-135deg);
        -ms-transform: rotate(-135deg);
            transform: rotate(-135deg);
    position: absolute;
    -webkit-transition: 0.3s ease-out; }
  .services .ind-content, .services .bus-content, .about .ind-content, .about .bus-content, .whyChooseUs .ind-content, .whyChooseUs .bus-content, .contact .ind-content, .contact .bus-content {
    position: relative;
    color: #fff;
    margin: 1em 0em; }
    .services .ind-content p, .services .bus-content p, .about .ind-content p, .about .bus-content p, .whyChooseUs .ind-content p, .whyChooseUs .bus-content p, .contact .ind-content p, .contact .bus-content p {
      font-size: 0.85em;
      font-weight: 300;
      padding: 0px 25px 0px 25px; }
      .services .ind-content p span, .services .bus-content p span, .about .ind-content p span, .about .bus-content p span, .whyChooseUs .ind-content p span, .whyChooseUs .bus-content p span, .contact .ind-content p span, .contact .bus-content p span {
        color: #eb5f00;
        font-weight: 500; }
      .services .ind-content p .span-bold, .services .bus-content p .span-bold, .about .ind-content p .span-bold, .about .bus-content p .span-bold, .whyChooseUs .ind-content p .span-bold, .whyChooseUs .bus-content p .span-bold, .contact .ind-content p .span-bold, .contact .bus-content p .span-bold {
        color: #eb5f00;
        font-weight: 700;
        font-style: italic; }
    .services .ind-content .break, .services .bus-content .break, .about .ind-content .break, .about .bus-content .break, .whyChooseUs .ind-content .break, .whyChooseUs .bus-content .break, .contact .ind-content .break, .contact .bus-content .break {
      margin-top: 1em;
      padding-top: 1em; }
    .services .ind-content ul, .services .bus-content ul, .about .ind-content ul, .about .bus-content ul, .whyChooseUs .ind-content ul, .whyChooseUs .bus-content ul, .contact .ind-content ul, .contact .bus-content ul {
      font-size: 0.75em;
      font-weight: 700;
      margin-left: 5em; }
      .services .ind-content ul li, .services .bus-content ul li, .about .ind-content ul li, .about .bus-content ul li, .whyChooseUs .ind-content ul li, .whyChooseUs .bus-content ul li, .contact .ind-content ul li, .contact .bus-content ul li {
        color: #eb5f00; }
  .services .ind-subTitle, .services .bus-subTitle, .about .ind-subTitle, .about .bus-subTitle, .whyChooseUs .ind-subTitle, .whyChooseUs .bus-subTitle, .contact .ind-subTitle, .contact .bus-subTitle {
    margin: 1.5em 0em 0.5em 0em;
    font-size: 1em;
    font-weight: 700; }
  .services .accordian-content-1, .services .accordian-content-2, .services .accordian-content-3, .services .accordian-content-4, .services .accordian-content-5, .services .accordian-content-6, .services .why-content, .about .accordian-content-1, .about .accordian-content-2, .about .accordian-content-3, .about .accordian-content-4, .about .accordian-content-5, .about .accordian-content-6, .about .why-content, .whyChooseUs .accordian-content-1, .whyChooseUs .accordian-content-2, .whyChooseUs .accordian-content-3, .whyChooseUs .accordian-content-4, .whyChooseUs .accordian-content-5, .whyChooseUs .accordian-content-6, .whyChooseUs .why-content, .contact .accordian-content-1, .contact .accordian-content-2, .contact .accordian-content-3, .contact .accordian-content-4, .contact .accordian-content-5, .contact .accordian-content-6, .contact .why-content {
    margin-top: 28px;
    margin-bottom: 50px; }
  .services .open-accordian, .about .open-accordian, .whyChooseUs .open-accordian, .contact .open-accordian {
    -webkit-transition: 0.3s ease-out;
            transition: 0.3s ease-out;
    margin-top: 25px; }
  .services table, .about table, .whyChooseUs table, .contact table {
    margin: 0px auto;
    font-size: 0.75em;
    font-weight: 100; }
    .services table tr, .about table tr, .whyChooseUs table tr, .contact table tr {
      margin: 0.25em; }
      .services table tr td, .about table tr td, .whyChooseUs table tr td, .contact table tr td {
        padding: 2px 10px 2px 10px; }
  .services .economic-model, .about .economic-model, .whyChooseUs .economic-model, .contact .economic-model {
    font-size: 16pt;
    font-style: italic;
    text-align: center;
    margin-top: 2.5em;
    margin-bottom: -3.5em;
    padding-bottom: 1.5em;
    border-bottom: 2px solid #fff; }
    .services .economic-model a, .about .economic-model a, .whyChooseUs .economic-model a, .contact .economic-model a {
      cursor: pointer; }
    .services .economic-model h4, .about .economic-model h4, .whyChooseUs .economic-model h4, .contact .economic-model h4 {
      font-size: 1.1em;
      font-weight: 300;
      margin-top: 2em;
      margin-bottom: 0em; }
    .services .economic-model span, .about .economic-model span, .whyChooseUs .economic-model span, .contact .economic-model span {
      text-decoration: none;
      color: #00922b;
      font-size: 1.15em;
      font-weight: 700; }
    .services .economic-model img, .about .economic-model img, .whyChooseUs .economic-model img, .contact .economic-model img {
      margin-top: 1em;
      width: 100%; }
  .services .video-wrapper, .about .video-wrapper, .whyChooseUs .video-wrapper, .contact .video-wrapper {
    margin: 0px auto;
    width: 500px;
    height: 250px;
    padding: 0.75em; }
  .services .business, .about .business, .whyChooseUs .business, .contact .business {
    background-color: #303030;
    font-size: 16pt;
    padding-bottom: 4.5em; }
    .services .business h2, .about .business h2, .whyChooseUs .business h2, .contact .business h2 {
      color: #fff; }
      .services .business h2 span, .about .business h2 span, .whyChooseUs .business h2 span, .contact .business h2 span {
        color: #eb5f00; }
    .services .business p span, .about .business p span, .whyChooseUs .business p span, .contact .business p span {
      font-size: 1.25em;
      font-weight: 500; }
    .services .business .bus-content li, .about .business .bus-content li, .whyChooseUs .business .bus-content li, .contact .business .bus-content li {
      font-weight: 500;
      color: #eb5f00; }
    .services .business .bus-image, .about .business .bus-image, .whyChooseUs .business .bus-image, .contact .business .bus-image {
      text-align: center;
      padding: 1.5em 0em 1.5em 0em; }
    .services .business .bus-quote, .about .business .bus-quote, .whyChooseUs .business .bus-quote, .contact .business .bus-quote {
      color: #fff; }
      .services .business .bus-quote span, .about .business .bus-quote span, .whyChooseUs .business .bus-quote span, .contact .business .bus-quote span {
        color: #41c900; }
    .services .business .bus-title, .about .business .bus-title, .whyChooseUs .business .bus-title, .contact .business .bus-title {
      font-size: 1.15em; }

.about {
  position: relative;
  background-color: #e0e0e0;
  font-size: 16pt;
  padding-bottom: 75px; }
  .about h1 {
    color: #000; }
  .about .about-content {
    width: 100%;
    color: #252525;
    font-size: 1em;
    font-weight: 300; }
    .about .about-content span {
      color: #00922b;
      font-weight: 700; }
    .about .about-content p {
      margin: 1.25em 0em; }
    .about .about-content ul {
      font-size: 0.75em;
      font-weight: 700;
      margin-left: 5em; }
  .about .about-img {
    margin: 0px auto;
    width: 200px;
    background-color: #000;
    border-radius: 100px; }
    .about .about-img:hover .about-img-blurb {
      display: block; }
    .about .about-img a {
      cursor: pointer; }
    .about .about-img img {
      border-radius: 100px;
      width: 100%;
      opacity: 0.7; }
      .about .about-img img:hover {
        opacity: 1; }
    .about .about-img .about-img-blurb {
      display: none;
      width: 200px;
      position: absolute;
      top: 80%;
      text-align: center;
      font-size: 0.75em;
      font-weight: 700; }

.whyChooseUs {
  background-color: #a0a0a0;
  font-size: 16pt;
  padding-bottom: 2em; }
  .whyChooseUs h1 {
    color: #252525;
    font-weight: 300; }
  .whyChooseUs h2 {
    color: #fff;
    font-weight: 700; }
  .whyChooseUs .why-quote span {
    color: #005d27;
    font-weight: 900; }
  .whyChooseUs h3 {
    color: #000;
    font-weight: 500;
    font-size: 0.85em;
    cursor: pointer;
    margin: 0px; }
    .whyChooseUs h3:hover {
      color: #252525;
      font-weight: 900;
      text-decoration: none; }
    .whyChooseUs h3 span {
      cursor: pointer;
      color: #e0e0e0; }
  .whyChooseUs .why-container {
    margin-top: 2.5em;
    padding-bottom: 20px; }
  .whyChooseUs .why-section {
    margin: 1.5em 0em;
    border-radius: 5px; }
  .whyChooseUs .glyphicon-user, .whyChooseUs .glyphicon-stats, .whyChooseUs .glyphicon-transfer, .whyChooseUs .glyphicon-star, .whyChooseUs .glyphicon-lock, .whyChooseUs .glyphicon-barcode, .whyChooseUs .glyphicon-globe, .whyChooseUs .glyphicon-cloud {
    font-size: 20pt;
    color: #005d27; }
  .whyChooseUs h4 {
    text-align: center;
    font-size: 1.25em;
    font-weight: 500;
    color: #fff; }
    .whyChooseUs h4 span {
      color: #005d27;
      font-weight: 500; }
  .whyChooseUs .why-content {
    background-color: #252525;
    font-size: 0.75em;
    color: #fff;
    font-weight: 300;
    padding: 0.75em;
    border-radius: 5px;
    margin-top: 2em;
    text-indent: 1em; }
    .whyChooseUs .why-content span {
      font-weight: 500;
      color: #eb5f00; }
    .whyChooseUs .why-content .focus {
      font-weight: 900;
      color: #e0e0e0; }

.contact {
  background-color: #424242;
  width: 100%;
  padding-bottom: 50px;
  font-size: 16pt;
  position: relative;
  .input-text-color: #000;
  .input-text-font-size: 0.75em; }
  .contact h6 {
    text-align: center;
    font-size: 0.75em;
    font-weight: 100; }
  .contact .contact-wrapper {
    width: 100%;
    background-color: #e0e0e0;
    text-align: center;
    padding: 1.5em;
    border-radius: 5px;
    position: relative; }
  .contact .form-container {
    text-align: center; }
    .contact .form-container h3 {
      font-size: 1.15em;
      font-weight: 500;
      text-decoration: underline; }
    .contact .form-container h4 {
      font-size: 0.75em;
      font-weight: 300; }
    .contact .form-container input, .contact .form-container textarea {
      font-size: 0.65em;
      font-weight: 500;
      width: 75%; }
    .contact .form-container p {
      font-size: 0.6em; }
    .contact .form-container textarea {
      height: 100px; }
    .contact .form-container .submit input {
      background-color: #005d27;
      font-size: 0.75em;
      font-weight: 500;
      border-radius: 5px;
      width: 50%;
      color: #fff; }
  .contact .contact-banner {
    width: 100%;
    background: url(../images/contact-img.png);
    background-size: cover; }
    .contact .contact-banner h1 {
      color: #000;
      font-weight: 500;
      padding: 1em 0em;
      text-align: center;
      z-index: 2;
      margin-top: 0px; }
  .contact iframe {
    width: 90%;
    height: 400px;
    border: 2px solid #000;
    margin: 0px auto; }
  .contact .contact-content, .contact .form-container {
    width: 100%;
    margin: 0px auto;
    background-color: #e0e0e0;
    text-align: center;
    opacity: 0.8;
    color: #000; }
  .contact .glyphicon-home, .contact .glyphicon-envelope, .contact .glyphicon-earphone, .contact .glyphicon-print {
    font-size: 20pt;
    color: #005d27;
    font-weight: 900; }
    .contact .glyphicon-home img, .contact .glyphicon-envelope img, .contact .glyphicon-earphone img, .contact .glyphicon-print img {
      text-align: center;
      width: 50%;
      padding: 0.5em 0em;
      margin-bottom: 0.75em; }
    .contact .glyphicon-home h2, .contact .glyphicon-envelope h2, .contact .glyphicon-earphone h2, .contact .glyphicon-print h2 {
      margin-top: 0em;
      font-weight: 300;
      text-decoration: underline;
      font-size: 2em;
      text-align: center;
      color: #005d27; }
    .contact .glyphicon-home h4, .contact .glyphicon-home h5, .contact .glyphicon-envelope h4, .contact .glyphicon-envelope h5, .contact .glyphicon-earphone h4, .contact .glyphicon-earphone h5, .contact .glyphicon-print h4, .contact .glyphicon-print h5 {
      text-align: center;
      margin: 0em;
      padding: 0.25em 0em; }
  .contact .contact-info {
    padding: 1em 0em;
    font-weight: 100;
    font-size: 0.75em;
    color: #000; }
    .contact .contact-info img {
      text-align: center;
      width: 30px;
      margin: 0em;
      padding: 0em; }
    .contact .contact-info h4 {
      text-align: center; }
    .contact .contact-info h5, .contact .contact-info a {
      margin: 0.5em 0em;
      text-align: center;
      font-size: 0.85em; }
    .contact .contact-info a {
      color: #000;
      font-size: 0.5;
      font-weight: 500;
      text-decoration: none; }
      .contact .contact-info a:hover {
        cursor: pointer;
        font-weight: 900; }
        .contact .contact-info a:hover img {
          width: 30px; }

.resume-content, .platform-content, .terms-content {
  position: fixed;
  padding: 1em 1.5em;
  opacity: 1;
  z-index: 10002;
  top: 10%;
  left: 50%;
  margin-left: -300px;
  width: 600px;
  height: 600px;
  background-color: #e0e0e0;
  font-size: 16pt;
  font-weight: 500;
  color: #252525;
  border: 2px solid #fff;
  overflow-y: scroll; }
  .resume-content h2, .platform-content h2, .terms-content h2 {
    color: #005d27;
    font-size: 1.8em;
    text-align: center;
    font-weight: 900; }
  .resume-content p, .platform-content p, .terms-content p {
    font-size: 0.8em;
    margin: 1em 0em;
    text-indent: 1.5em; }
  .resume-content ul, .platform-content ul, .terms-content ul {
    margin-left: 4.5em; }
    .resume-content ul span, .platform-content ul span, .terms-content ul span {
      color: #000;
      font-weight: 900; }
  .resume-content h4, .platform-content h4, .terms-content h4 {
    font-size: 1.25em;
    font-weight: 700;
    color: #eb5f00; }
  .resume-content a, .platform-content a, .terms-content a {
    cursor: pointer; }

.platform-content, .terms-content {
  font-size: 16pt; }
  .platform-content h3, .terms-content h3 {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1.5em;
    color: #eb5f00;
    font-size: 1.15em;
    font-weight: 300; }
  .platform-content h4, .terms-content h4 {
    margin-bottom: 1.15em; }
    .platform-content h4 a, .terms-content h4 a {
      text-decoration: none;
      color: #000;
      cursor: pointer; }
      .platform-content h4 a:hover, .terms-content h4 a:hover {
        text-decoration: underline;
        color: #000;
        cursor: pointer; }
  .platform-content img, .terms-content img {
    float: left;
    margin: 0em 1.5em; }
  .platform-content section, .terms-content section {
    margin: 1.5em 0em; }
    .platform-content section div, .terms-content section div {
      height: 90px; }

.terms-content h4 {
  text-align: center;
  font-size: 1em;
  text-decoration: underline; }
.terms-content h5 {
  text-align: center;
  font-size: 0.9em;
  text-decoration: underline; }
.terms-content h6 {
  font-size: 0.8em;
  text-align: left; }
.terms-content li {
  font-size: 0.75em; }

.social-wrapper {
  position: absolute;
  bottom: 0%;
  right: 1%; }
  .social-wrapper .social {
    text-align: center; }
    .social-wrapper .social a {
      cursor: pointer; }

/*Media Queries */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* large */
/* medium */
@media (max-width: 1200px) {
  nav .nav-bar {
    height: 70px; }
  nav .nav-menu {
    display: none; }
  nav .company-logo {
    width: 60px;
    margin-left: 2%; }
  nav .login-menu {
    font-size: 0.9em;
    width: 460px; }
    nav .login-menu:hover .account-login {
      top: 57px; }
    nav .login-menu .account-btn, nav .login-menu .financial-btn {
      width: 230px;
      padding: 16px; }
    nav .login-menu .account-login {
      width: 300px;
      top: -25px; }

  .bot-nav-bar {
    font-size: 18pt; }

  .services .plus {
    display: block; }
  .services .business .plus {
    display: block; }

  .about .about-img {
    opacity: 1; }
    .about .about-img .about-img-blurb {
      display: block; }

  .whyChooseUs .plus-why {
    display: block; }

  .contact h6 {
    font-weight: 500; } }
/* small */
@media (max-width: 992px) {
  nav .nav-bar {
    height: 70px; }
  nav .nav-menu {
    display: none; }
  nav .company-logo {
    width: 60px;
    margin-left: 2%; }
  nav .login-menu {
    font-size: 0.9em;
    width: 460px; }
    nav .login-menu:hover .account-login {
      top: 57px; }
    nav .login-menu .account-btn, nav .login-menu .financial-btn {
      width: 230px;
      padding: 16px; }
    nav .login-menu .account-login {
      width: 300px;
      top: -25px; }

  .bot-nav-bar {
    font-size: 18pt; }

  .services .plus {
    display: block; }
  .services .business .plus {
    display: block; }

  .about .about-img {
    opacity: 1; }
    .about .about-img .about-img-blurb {
      display: block; }

  .whyChooseUs .plus-why {
    display: block; }

  .contact h6 {
    font-weight: 500; } }
/* xtra-smaill */
@media (max-width: 767px) {
  nav .nav-bar {
    height: 55px; }
  nav .nav-menu {
    display: none; }
  nav .company-logo {
    width: 48px;
    margin-left: 1%; }
  nav .login-menu {
    font-size: 7pt;
    right: 0%;
    width: 280px; }
    nav .login-menu .account-btn, nav .login-menu .financial-btn {
      width: 140px; }

  .bot-nav-bar {
    display: none; }

  .hero-section {
    font-size: 10pt;
    height: 400px; }
    .hero-section h1 {
      padding-top: 75px; }
    .hero-section .owl-carousel {
      margin-top: 20px; }
    .hero-section .slide-container {
      height: 210px;
      font-size: 8.5pt; }
    .hero-section .owl-pagination {
      font-size: 10pt;
      margin-left: -55px;
      bottom: 0px; }

  .services {
    font-size: 13pt;
    padding: 0em 10px; }
    .services .glyphicon-calendar, .services .glyphicon-road, .services .glyphicon-usd {
      font-size: 18pt; }
    .services .individual {
      font-size: 13pt;
      padding-bottom: 0em; }
      .services .individual h1 {
        color: #fff;
        font-weight: 300; }
      .services .individual .ind-content {
        margin: 1.25em 0em; }
        .services .individual .ind-content p {
          font-weight: 500; }
          .services .individual .ind-content p .span-bold {
            font-weight: 900; }
    .services .gly-title {
      color: #fff;
      font-weight: 500; }
    .services .plus {
      display: block; }
    .services .economic-model {
      font-size: 13pt;
      display: none; }
    .services .business {
      font-size: 13pt;
      padding-top: 0em; }
      .services .business .plus {
        display: block; }
      .services .business .bus-content {
        margin-bottom: 25px; }
      .services .business .bus-image img {
        width: 90%; }

  .about {
    font-size: 13pt;
    padding: 0em 10px; }
    .about h1 {
      font-weight: 300; }
    .about .about-img {
      width: 150px;
      margin-bottom: 20px;
      display: none; }
      .about .about-img .about-img-blurb {
        display: block;
        width: 150px; }

  .whyChooseUs {
    font-size: 13pt;
    padding: 0em 10px; }
    .whyChooseUs h1 {
      font-weight: 300; }
    .whyChooseUs h3 {
      font-weight: 500; }
    .whyChooseUs .why-title {
      font-size: 1.5em;
      font-weight: 500; }
    .whyChooseUs .why-content {
      font-weight: 500;
      font-size: 0.85em; }
    .whyChooseUs .plus-why {
      display: block; }

  .contact {
    font-size: 13pt; }
    .contact .contact-info {
      font-size: 1em; }
      .contact .contact-info div {
        padding-bottom: 15px; }
    .contact iframe {
      height: 300px; }
    .contact h6 {
      font-weight: 500;
      font-size: 0.8em;
      padding: 5px; }
    .contact .social-wrapper {
      position: relative;
      right: 0%; }
      .contact .social-wrapper img {
        width: 75px;
        padding-bottom: 15px; } }
@media (max-width: 450px) {
  nav .login-menu {
    font-size: 6pt;
    width: 250px; }
    nav .login-menu .account-btn, nav .login-menu .financial-btn {
      width: 125px; }
  nav .company-logo {
    width: 45px; }

  .about .about-content ul {
    font-size: 0.75em;
    font-weight: 700;
    margin-left: 0px; }

  .contact .form-container input, .contact .form-container textarea {
    width: 95%; }
  .contact .form-container iframe {
    width: 100%; }
  .contact .form-container .submit input {
    font-size: 1em;
    width: 75%; } }
