.videoContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: auto;
  align-items: center;
  justify-content: center;
  background-color: var(--whiteColor);
  padding: 100px 0;

  @media (max-width: 768px) {
    padding: 25px 0;
  }
}

.videoTitle {
  margin: 0 auto 50px;
  text-decoration: underline;
  font-size: 55px;

  @media (max-width: 768px) {
    font-size: 36px;
  }
}

.videoWrapper {
  width: 80%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  margin: 0 auto;

  @media (max-width: 1200px) {
    width: 95%;
  }

  @media (max-width: 768px) {
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
  }
}

.videoCard {
  width: 100%;
  height: auto;
  background-color: var(--whiteColor);
  box-shadow: var(--containerBoxShadow);
}

.title {
  width: 100%;
  text-align: center;
  color: var(--blackColor);
  padding: 15px 0;
  font: {
    weight: 400;
    size: 26px;
    family: "Lato";
  }

  @media (max-width: 768px) {
    font-size: 22px;
  }
}

.video {
  width: 450px;
  height: 325px;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: 768px) {
    width: 250px;
    height: 175px;
  }
}